@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #373b69;
  padding: 1rem;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  color: white;
  outline: none;
}

.movie {
  position: relative;
  margin: 1.5rem;
  width: 250px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

.movie img {
  min-width: 100%;
  height: 350px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  background-color: #373b69;
  padding: 1rem;
}

.movie-info h3 {
  line-height: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.movie-info span {
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  margin-left: 0.5rem;
}


.movie-over {
  height: 80%;
  overflow: auto;
  background-color: #fff;
  color: #22254b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.movie:hover .movie-over {
  transform: translateY(0);
  opacity: 1;
}

.tag {
  background-color: #22254b;
  border-radius: 5px;
  padding: 0.5rem;
  
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}